

h1{
    font-family: The Mandalorian;
    font-size: 900%;
    text-align: center ;
}

body{
    background-color: rgb(207, 206, 212);  
}

img {
  width: 75%;
  height:auto; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button { 
    display: block;
  margin-left: auto;
  margin-right: auto;;
  border: 2px solid red;
  border-radius: 12px;
  width: 6cm;
  height: 1cm;
  line-height: 0px;
  margin-top:-60px;
}


@font-face {
font-family:  The Mandalorian;
src:url(fonts/TheMandalorian-w11P2.ttf) format('truetype');
}
